<nav class="nav">
    <a href="/">CRUD</a>
</nav>
<ul class="menu">
    <li class="elemento"><a href="/personas">Personas</a></li>
    <li class="elemento"><a href="/agregarPersona">Agregar Persona</a></li>
    <li class="elemento"><a href="/buscar">Buscar Persona</a></li>
    <li class="elemento"><a href="/oficinas">Oficinas</a></li>
    <li class="elemento"><a href="/agregarOficina">Agregar Oficina</a></li>
    <li class="elemento"><a href="/buscarOficina">Buscar Oficina</a></li>
</ul>